[Unit]
Description=Homegate service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/wyaron/work/HomeGate/cmd/gate/homegate/homegate

[Install]
WantedBy=multi-user.target
